footer {
    background:  rgba(3, 8, 6);
    color: rgba(205, 224, 233, 0.897);
}

footer h6 {
    margin: 0px;
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
   
}




@media(max-width:900px) {
    footer h6 {
        font-size: 8px;
    }
}
@media(max-width:680px) {
    
    footer h6{
    font-size: 5px;
}
}

@media(max-width:500px) {
    footer h6{
    font-size: 4px;
    max-width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
}